<%-include("header");-%>
  <div class='content'>
    <h1>Name</h1>
    <h3>Emma Wilson</h3>
    <h1>Phone</h1>
    <h3>0567654856</h3>

    <h1>Email</h1>
    <h3>emmawil@gmail.com</h3>

    <h1>Address</h1>
    <h3>Country: UAE
      City: Dubai,
      Street: A,
      Building: XY,
      Flat: 111
    </h3>
    </div>

    <%-include("footer");-%>